/*Theme*/

:root[data-theme="light"] {
    --r-bg-color: white; /*bg is background*/
    --r-font-color: rgb(0,0,0);
    
}

html[data-theme="dark"] {
    --r-bg-color: rgb(40,40,40); /*bg is background*/
    --r-font-color: white;
}

body {
    background-color: var(--r-bg-color);
    color: var(--r-font-color)
}

/* Product Listing*/
.container article img {
    border: 2px solid #555;
}

.carousel-inner {
    background-color: black;
    text-align: center;
}

.carousel-inner img {
    max-height: 400px;
    max-width: 100%;
    margin: auto;
    display: block;
}
#account-container-sm {
    border: 1px solid grey;
    padding: 1rem 2rem 5rem;
}

#settings-container {
    margin: auto;
    border: 1px solid grey;
    width: 50%;
}

#range-set-theme-label {
    display: inline;
    margin-left: 1rem;
}

#range-set-theme {
    display: inline-block;
    width: 2rem;
    box-shadow: none;
}

#cart-container {
    border: 1px solid grey;
    width: 50%;
    margin: auto;
}

#contact-info {
    display: flex;
    justify-content: space-around;
}

#about-us-container {
    display: inline-block;
    margin-left: 25%;
    border: 1px solid black;
    width: 50%;
}